#games {
    clear: both;
    background: #bac7cd;
    overflow: hidden;
    padding: 5px 5px 5px 6px;
    _height: 1%
}

#games li {
    float: left;
    width: 154px;
    height: 171px;
    text-align: center;
    padding: 3px;
    list-style: none;
    margin: 9px 1px 0 0;
    _height: 180px
}

#games li:hover {
    background: #ccdbe1
}

#games li:hover a {
    text-decoration: underline
}

#games li a {
    color: #0072bc;
    text-decoration: none
}

#games li h2 {
    font-size: 14px;
    font-weight: bold
}

#games li p {
    font-size: 10px
}

#games li a img {
    border: 1px solid #fff
}

.GameWithScoresContainer {
    position: relative;
    display: block;
    width: 150px;
    height: 100px;
    margin-bottom: 7px
}

.GameWithScores {
    background-image: url("sprites_v1.png");
    _background-repeat: no-repeat;
    _overflow: hidden;
    background-position: -248px 0;
    position: absolute;
    right: -2px;
    top: 0px;
    background-color: #fff;
    width: 12px;
    height: 12px;
    padding: 4px;
    background-origin: content-box
}

#pager {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #889ba5;
    height: 32px;
    padding-top: 8px;
    margin: 0 auto;
    text-align: center
}

#pager a {
    _float: left
}

#pager img {
    border: 0
}

#pager ul {
    display: inline-block;
    _float: left;
    _padding-left: 10px
}

#pager ul li {
    float: left;
    list-style: none;
    height: 23px;
    margin-right: 3px
}

#pager ul li a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ccdbe1;
    float: left;
    height: 20px;
    padding: 3px 7px 0;
    color: #404041;
    text-decoration: none;
    font-size: 14px
}

#pager ul li.sel a,#pager ul li a:hover {
    color: #0072bc;
    background-color: #fff
}

#PagerFirst,#PagerBack,#PagerNext,#PagerLast {
    background-image: url("sprites_v1.png");
    _background-repeat: no-repeat;
    _overflow: hidden;
    display: inline-block;
    width: 27px;
    height: 23px
}

#PagerFirst {
    background-position: 0 0;
    width: 30px
}

#PagerBack {
    background-position: -31px 0
}

#PagerNext {
    background-position: -59px 0
}

#PagerLast {
    background-position: -87px 0;
    width: 29px
}

#content {
    overflow: visible;
    height: 1250px
}

#main {
    margin-left: 10px;
    width: 816px;
    _margin-left: 9px
}

.IndexTopListHeader {
    width: 144px;
    height: 20px;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-size: 14px;
    background-repeat: no-repeat
}

.IndexTopListHeader a {
    color: #fff;
    font-size: 14px;
    font-weight: normal
}

#IndexTopListHeaderMostPlayed {
    background-color: #a6ce39;
    position: relative
}

#IndexTopListHeaderMostPlayed:after {
    content: "";
    position: absolute;
    right: 7px;
    top: 6px;
    background-image: url("sprites_v1.png");
    _background-repeat: no-repeat;
    _overflow: hidden;
    background-position: 0 -114px;
    width: 21px;
    height: 18px
}

#IndexTopListHeaderTopRated {
    background-color: #f58220;
    position: relative
}

#IndexTopListHeaderTopRated:after {
    content: "";
    position: absolute;
    right: 6px;
    top: 6px;
    background-image: url("sprites_v1.png");
    _background-repeat: no-repeat;
    _overflow: hidden;
    background-position: 0 -94px;
    width: 20px;
    height: 19px
}

#IndexTopListHeaderMostCommented {
    background-color: #ee3c23;
    position: relative
}

#IndexTopListHeaderMostCommented:after {
    content: "";
    position: absolute;
    right: 7px;
    top: 6px;
    background-image: url("sprites_v1.png");
    _background-repeat: no-repeat;
    _overflow: hidden;
    background-position: 0 -154px;
    width: 21px;
    height: 20px
}

#IndexTopListHeaderWithScores {
    background-color: #ee3c23;
    position: relative
}

#IndexTopListHeaderWithScores:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 6px;
    background-image: url("sprites_v1.png");
    _background-repeat: no-repeat;
    _overflow: hidden;
    background-position: 0 -75px;
    width: 18px;
    height: 18px
}

#IndexTopListHeaderThreads {
    background-color: #0072bc;
    position: relative
}

#IndexTopListHeaderThreads:after {
    content: "";
    position: absolute;
    right: 7px;
    top: 6px;
    background-image: url("sprites_v1.png");
    _background-repeat: no-repeat;
    _overflow: hidden;
    background-position: 0 -133px;
    width: 17px;
    height: 20px
}

#sidebar ol,#sidebar ul {
    width: 164px;
    background: #fff;
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #404041;
    line-height: 18px;
    padding-bottom: 9px
}

#sidebar ul li {
    margin-left: 22px;
    list-style: disc
}

#sidebar ol li {
    margin-left: 30px;
    list-style: decimal
}

#sidebar ul li {
    margin-left: 22px;
    list-style: disc
}

#content.content-with-top #teaser {
    top: 1306px
}

#content.content-with-top {
    margin-top: 146px;
    height: 1324px
}
